[submodule "hw"]
	path = hw
	url = https://github.com/Digilent/ZedBoard-HW/
[submodule "os"]
	path = os
	url = https://github.com/Digilent/ZedBoard-OS/
[submodule "sw"]
	path = sw
	url = https://github.com/Digilent/ZedBoard-SW/
